header{
	background-color: #0A1854;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 0px;
	padding-right: 0px;
}

header img{
	border-radius: 600px;
	border: 10px solid white;
}

h1, h2 {
     font-family: 'IM Fell English SC', serif; 
}

h2{
	font-size: 40px;
	color: #0A1854;
	margin: 40px 0 10px;
	font-weight: bold;
}

header h1{
	color: white;
	font-size: 40px;
}

body{
	 font-family: 'Roboto Slab', serif;
	 font-size: 20px;
	 line-height: 30px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

footer{
	background-color: #0A1854;
	text-align: center;
	color: white;
	padding: 40px;
}

a{
	color: #0A1854;
}

a:hover{
	color: white;
	background-color: #0A1854;
	cursor:pointer;
}

.tab {
 margin-left: 1em
}

.home__resume {
    background-color: lightgrey;
    color: var(--text-white);
    padding: 10px 30px;
    font-weight: 600;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
    border: 1px solid transparent;
}

.home__profession {
	color: #0A1854;
    font-size: 2.5rem;
    line-height: 5rem;
    font-weight: 700;
    margin: 10px 0 25px;
    letter-spacing: 5px;
}

.letter{
	/*font-size: 60px;*/
	display: inline-block;
	transition:  all 250ms ease-in-out;
}

.letter.active{
	transform: scale(2.5) rotate3d(0, 0, 1, 20deg);
	/*background-color: black;*/
	color: orangered;
}